nav.navigation
	.main-bar
		.logo
			a.menu-item.name(href="#home") nicolas
				span.surname temenides
		.mobile.open-menu MENU
			i.fa.fa-bars
		.menu
			each link in nav
				a.menu-item(href=link.url) #{link.title}
			a(href=static.langUrl)
				i.flag-icon(class="flag-icon-" + static.langSwitch)
	.menu-mobile
		each link in nav
			a.menu-mobile-item(href=link.url) #{link.title}
