.container
	h1 Formation
	.row
		.col-sm-5.col-md-4
			h2 Etudes
			.studies.card
				each study in studies
					.study
						.study-time #{study.time}
						.study-text
							.study-title #{study.title}
							.study-desc #{study.text}
			h2 Langues
			.langues.card
				.langue
					span.flag-icon.flag-icon-fr
					.langue-name Français
					.langue-level
						i.fa.fa-circle
						i.fa.fa-circle
						i.fa.fa-circle
						i.fa.fa-circle
						i.fa.fa-circle
				.langue
					span.flag-icon.flag-icon-gb
					.langue-name Anglais
					.langue-level
						i.fa.fa-circle
						i.fa.fa-circle
						i.fa.fa-circle
						i.fa.fa-circle
						i.fa.fa-circle
				.langue
					span.flag-icon.flag-icon-de
					.langue-name Allemand
					.langue-level
						i.fa.fa-circle
						i.fa.fa-circle
						i.fa.fa-circle
						i.fa.fa-circle-o
						i.fa.fa-circle-o
				.langue
					span.flag-icon.flag-icon-cn
					.langue-name Chinois
					.langue-level
						i.fa.fa-circle-o
						i.fa.fa-circle-o
						i.fa.fa-circle-o
						i.fa.fa-circle-o
						i.fa.fa-circle-o
		.col-sm-7.col-md-8
			h2 Expériences professionelles
			.jobs.card
				each job in jobs
					.job
						.job-header
							.job-title #{job.title}
							.job-logo
								if job.logo
									img(src="/assets/images/logo/" + job.logo)
								else
									i.fa(class= job.icon)
						.job-subtitle #{job.subtitle}
						.job-desc #{job.text}