.container
	.row
		h1.text-center Formation
	.row
		.col-sm-5.col-md-4.col-lg-3
			h2 Etudes
			ul.study.clearfix
				each study in studies
					li
						.study-time.pull-left #{study.time}
						.study-text.pull-right
							.study-title #{study.title}
							.study-desc #{study.text}
		.col-sm-7.col-md-8
			h2 Expériences professionelles
			ul.job.clearfix
				each job in jobs
					li
						.job-title #{job.title}
						.job-subtitle #{job.subtitle}
						.job-desc #{job.text}
						.job-logo
							if job.logo
								img(src="/assets/images/logo/" + job.logo)
							else
								i.fa(class= job.icon)
		//- .col-sm-12.col-md-1.col-lg-2
		//- 	h2 Langues
		//- 	ul
		//- 		li Chinois
		//- 		li Anglais
		//- 		li Francais
		//- 		li Allemang