.container
	h1 Formation
	.row
		.col-sm-5.col-md-4.col-lg-3
			h2 Etudes
			.studies.clearfix
				each study in studies
					.study
						.study-time #{study.time}
						.study-text
							.study-title #{study.title}
							.study-desc #{study.text}
		.col-sm-7.col-md-8
			h2 Expériences professionelles
			.jobs.clearfix
				each job in jobs
					.job
						.job-header
							.job-title #{job.title}
							.job-logo
								if job.logo
									img(src="/assets/images/logo/" + job.logo)
								else
									i.fa(class= job.icon)
						.job-subtitle #{job.subtitle}
						.job-desc #{job.text}
		//- .col-sm-12.col-md-1.col-lg-2
		//- 	h2 Langues
		//- 	ul
		//- 		li Chinois
		//- 		li Anglais
		//- 		li Francais
		//- 		li Allemang