mixin project(project)
	.project(
			data-title="#{project.name}",
			data-img="assets/images/projects/" + project.img,
			data-subtitle="#{project.subtitle}",
			data-description="#{project.description}",
			data-link="#{project.link}",
			data-git="#{project.git}"
		)
		img(src="assets/images/projects/" + project.img, alt=project.name)
		.info
			.title #{project.name}
			p #{project.subtitle}
			button Voir plus

h2 Projets
.projects
	each project in projects
		+project(project)
