.container
	.row
		h1.text-center Compétences
		each category in skills
			h2.text-left #{category.name}
			ul.skills
				each skill in category.values
					li
						if skill.icon
							span.devicon
								i(class="devicon-" + skill.icon + "-plain" + (skill.nowood ? '' : "-wordmark"))
						else if skill.image
							span.image
								img.img-responsive(src="assets/images/skills/" + skill.image)
						else
							span.text #{skill.name}
						.skills-description
							.skills-title #{skill.name}
							if skill.link
								a.link(href="#{skill.link}" title="#{skill.name}" target="_blank") #{skill.shortlink}
							p #{skill.description}
							.skills-level
								span Niveau:
								- for (var i = 0; i < skill.level; i++)
									i.fa.fa-square
								- for (var i; i < 5; i++)
									i.fa.fa-square-o
			.clearfix