mixin skill(skill)
	if skill.name && skill.level > 2
		.skill
			if skill.image
				span.image
					img(src="/assets/images/skills/" + skill.image, alt=skill.name)
			else
				span.text #{skill.name}
			.skills-description
				.skills-title #{skill.name}
				p #{skill.description}
				.skills-footer
					if skill.link
						a.link(href=skill.link title="#{skill.name}" target="_blank") #{skill.shortlink}

h2 Compétences
.skills
	each category in skills
		.skills-row
			h3 #{category.name}
			if category.subs
				each subcat in category.subs
					.subcategory
						h4 #{subcat.name}
						.skills-row
							each skill in subcat.values
								+skill(skill)
			else
				each skill in category.values
					+skill(skill)

