mixin hexagon(skill)
	.hex-wrap.backend(
		data-title=skill.name,
		data-content=skill.description,
		data-link=skill.link,
		data-short=skill.shortlink,
		data-img=skill.image
	)
		.hex-init
		.hex-borders
			.border-1
			.border-2
			.border-3
		.label
			if skill.icon
				span.devicon
					i(class="devicon-" + skill.icon + "-plain" + (skill.nowood ? '' : "-wordmark"))
			else if skill.image
				img(
					src="assets/images/skills/" + skill.image,
					alt=skill.name,
					class=skill.size
				)
			else
				span.text #{skill.name}

.container-fluid
	h1 Hexagon
	.row
		.hex-master-wrap.col-sm-6
			-var i=0, j=0
			.grid-1
				while (i <= 5 && hex[j+i] != undefined)
					+hexagon(hex[j+i])
					-i++
				-j+=i;i=0
			while (hex[j+6] != undefined)
				.grid-2
					while (i <= 6 && hex[j+i] != undefined)
						+hexagon(hex[j+i])
						-i++
					-j+=i;i=0
				.grid-3
					while (i <= 7 && hex[j+i] != undefined)
						+hexagon(hex[j+i])
						-i++
					-j+=i;i=0
			.grid-1
				while (i <= 5 && hex[j+i] != undefined)
					+hexagon(hex[j+i])
					-i++
				-j+=i;i=0
		.code-display.col-sm-6
			.code-description
				.code-background
				p.code-title Prestashop
				.code-desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
				a(href="http://getboostrap.com").code-link getbootstrap.com
				p
					span Experience
				.code-icon